<p>All country data</p>


<div class="md-form mt-0">
  <input class="form-control" [(ngModel)]="searchText" type="text" placeholder="Search" aria-label="Search">
</div>
<br>
<br>

<!-- <div class="container-col-3"> -->

    <!-- <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="countrycode">country code:</label>
            <select formControlName="countrycode" class="form-control">
                <option disabled>Select country code</option>
                <option>Choose country code</option>
                <option *ngFor="let item of items">{{item.alpha3Code}}</option>
            </select>
            <div *ngIf="f.countrycode.touched && f.countrycode.invalid" class="alert alert-danger">
                <div *ngIf="f.countrycode.errors.required">Name is required.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form> -->
<!-- </div> -->





<div *ngFor="let item of items | filter : searchText">
  <div class="card">
    <h5 class="card-header">{{item.name}}</h5>
    <div class="card-body">
      <p class="card-text">Country Code : {{item.alpha3Code}}</p>
      <p class="card-text">Country Capital : {{item.capital}}</p>
      <p class="card-text">Country Region : {{item.region}}</p>

    </div>
  </div>
  <br>
</div>
